Gianluca Voss <44499428+0gain@users.noreply.github.com>  0gain <44499428+0gain@users.noreply.github.com> 
Gianluca Voss <gianluca.voss@gmx.de>  0gain <gianluca.voss@gmx.de> 

Birk Magnussen <birk.magnussen@online.de>  Birk Magnussen <birk.magnussen@online.de> 
Birk Magnussen <uk054520@student.uni-kassel.de>  Birk Magnussen <uk054520@student.uni-kassel.de> 

Christopher Bartalos <chrisibartalos96@web.de>  Christopher Bartalos <chrisibartalos96@web.de> 
Christopher Bartalos <44499373+ChristopherBartalos@users.noreply.github.com>  ChristopherBartalos <44499373+ChristopherBartalos@users.noreply.github.com> 

Kapil Karki <admin@Deadbymidnight.com>  Deadbymidnight <admin@Deadbymidnight.com> 
Kapil Karki <Deadbymidnight@users.noreply.github.com>  Deadbymidnight <Deadbymidnight@users.noreply.github.com> 

Vadim Simukov <41872357+Hombr3@users.noreply.github.com>  Hombr3 <41872357+Hombr3@users.noreply.github.com> 
Vadim Simukov <vadjka.92@mail.ru>  Hombr3 <vadjka.92@mail.ru> 

Jonas Thelemann <e-mail@jonas-thelemann.de>  Jonas Thelemann <e-mail@jonas-thelemann.de> 

Patrick Michla <pennyplayerg@gmail.com>  Patrick <pennyplayerg@gmail.com> 
Patrick Michla <patrick.michla@student.uni-kassel.de>  PatrickMi <patrick.michla@student.uni-kassel.de> 

Rohhillah Walizada <rohhullah98@gmail.com>  rohhullah <rohhullah98@gmail.com> 
Rohhillah Walizada <rohhullah98@gmail.com>  Rohhullah <rohhullah98@gmail.com> 
Rohhillah Walizada <44499394+Rohhullah98@users.noreply.github.com>  Rohhullah98 <44499394+Rohhullah98@users.noreply.github.com> 
