ListView {
    -fx-background-insets: 0px;
    -fx-padding: 0px;
}

ScrollPane {
    -fx-padding: 0px;
}

#tile-selected {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.button {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12px;
}

.text-field {
    -fx-font-size: 12pt;
}

.text-title {
    -fx-font-size: 15px;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #dedede;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #bdbdbd;
}

.jfx-tab-pane .tab .tab-label {
    -fx-text-fill: black;
}

.tile-attack {
    -fx-background-color: rgba(255, 0, 0, 0.2);
}

.tile-path {
    -fx-background-color: rgba(0, 0, 255, 0.2);
}