* {
    -fx-primary: #2A2E37;
    -fx-secondary: #FFFF8d;
    -fx-primarytext: #B2B2B2;
    -fx-privatetext: #FF7EFF;
}

. root, VBox, HBox {
    -fx-background-color: -fx-primary;
}

ListView {
    -fx-control-inner-background: -fx-primary;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
}

#nonTurnPlayers {
    -fx-text-fill: #FFFF8d;
}

#inGamePlayerBLUE {
    -fx-text-fill: blue;
}

#inGamePlayerGREEN {
    -fx-text-fill: green;
}

#inGamePlayerRED {
    -fx-text-fill: red;
}

#inGamePlayerYELLOW {
    -fx-text-fill: yellow;
}

.background-color_transparent {
    -fx-background-color: -fx-primary;
}

.button {
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12px;
}

.button:hover, .button:focused {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.check-box {
    -fx-text-fill: -fx-primarytext;
    -jfx-checked-color: -fx-secondary;
}

.combo-box .list-cell {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-secondary;
}

.glyph-icon {
    -fx-fill: -fx-primarytext;
}

.jfx-check-box .mark {
    -fx-border-color: black;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #3f424b;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #3f424b;
}

.jfx-toggle-button {
    -jfx-toggle-color: -fx-secondary;
    -fx-text-fill: -fx-secondary;
}

.label {
    -fx-text-fill: -fx-secondary;
}

.menu-button {
    -fx-background-color: transparent;
}

.menu-item {
    -fx-background-color: grey;
}

.radio-button {
    -fx-text-fill: -fx-secondary;
    -jfx-selected-color: -fx-secondary;
}

.tab .tab-label {
    -fx-text-fill: white;
}

.text-field {
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

.wrong-credentials {
    -jfx-unfocuse-color: #ef5350;
    -jfx-focuse-color: #ef5350;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :#3f424b;
    -fx-border-color :#3f424b;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

ScrollPane {
    -fx-padding: 0px;
}


.text-field {
    -fx-font-size: 12pt;
}


.jfx-tab-pane .tab .tab-label {
    -fx-text-fill: black;

}

#tile-selected {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}


.tile-attack {
    -fx-background-color: rgba(255, 0, 0, 0.2);
}

.tile-path {
    -fx-background-color: rgba(0, 0, 255, 0.2);
}