
* {
    -fx-primary: WHITe;
    -fx-secondary: BLACK;
    -fx-primarytext: black;
    -fx-secondarytext: grey;
    -fx-privatetext: #FF7EFF;
}

. root, VBox, HBox {
    -fx-background-color: -fx-primary;
}

.glyph-icon {
    -fx-fill: -fx-primarytext;
}

.button {
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12px;
}

.button:hover, .button:focused {
    -fx-border-color: -fx-secondarytext;
    -fx-background-color: -fx-secondarytext;
    -fx-text-fill: -fx-primary;
}

.text-field {
    -fx-text-fill: -fx-secondary;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

.wrong-credentials {
    -jfx-unfocuse-color: #ef5350;
    -jfx-focuse-color: #ef5350;
}

.radio-button {
    -fx-text-fill: -fx-secondary;
    -jfx-selected-color: -fx-secondary;
}

.label {
    -fx-text-fill: -fx-secondary;
}

.menu-button {
    -fx-background-color: transparent;
}

.menu-item {
    -fx-background-color: grey;
}

.tab .tab-label {
    -fx-text-fill: black;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #e9eaeb;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #e9eaeb;
}