
*{
    -fx-primary: WHITE;
    -fx-secondary: Black;
    -fx-primarytext: Black;
    -fx-secondarytext: grey;
}

. root{
    -fx-background-color: -fx-primary;
}

.glyph-icon{
    -fx-fill: -fx-primarytext;
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12px;
}

.button:hover, .button:focused{
    -fx-border-color: -fx-secondarytext;
    -fx-background-color: -fx-secondarytext;
    -fx-text-fill: -fx-primary;
}

.text-field{
    -fx-text-fill: -fx-primary;
    -fx-font-size: 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary,20%);
}

.wrong-credentials{
    -jfx-unfocuse-color: #ef5350;
    -jfx-focuse-color: #ef5350;
}

.check-box{
    -fx-text-fill: -fx-primarytext;
    -jfx-checked-color: -fx-secondary;
}